.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 24px;
  font-size: 20px;
}


.inputWrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1.4fr) 0.6fr;
  gap: 12px;
}

@media (max-width: 1200px) {
  .inputWrapper {
    grid-template-columns: 1fr;
  }
}

.input {
  padding: 12px 32px;
  border: 1px solid #221AB7;
  border-radius: 30px;
  font-size: 20px;
}

.input:hover {
  border: 1px solid #0E0A54;
  background-color: #F2F1FF;
}
.input:focus {
  border: 1px solid #302F3D ;
}

.button {
  padding: 12px 32px;
  color: #fff;
  border-radius: 30px;
  background-color: #221AB7;
  border: none;
  font-size: 20px;
  cursor: pointer;
  white-space: nowrap;
}