
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    overflow: hidden;
}

@media (max-width: 744px) {
    .wrapper {
        gap: 24px;
        margin-top: 24px;
    }
}

.innerWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    overflow: hidden;
}



.label {
    font-size: 20px;
}

@media (max-width: 744px) {
    .label {
        font-size: 16px;
    }
}

.refreshButton {
    width: min-content;
    padding: 10px 32px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: flex;
}

@media (max-width: 744px) {
    .refreshButton {
        padding: 8px 12px;
    }
}

.refreshButton svg {
    width: 24px;
    height: 24px;
}
.button {
    color: #000;
    background-color: #f2f1ff;
    padding: 12px 32px;
    font-size: 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s;

}

.button:hover {
    background-color: #EBEAFF;
}

.button:focus {
    background-color: #f2f1ff;
}

@media (max-width: 744px) {
    .button {
        font-size: 16px;
        padding: 8px 12px;
    }
}

