.button {
    background-color: #fff;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    color: #221AB7;
    font-weight: 600;
    display: block;
    padding: 12px 32px;
    width: 100%;
    margin-top: 12px;
}