
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

    
    height: 107px;
    overflow: hidden;
}
.buttonAccent {
    background-color: #221AB7;   
    width: min-content;
    padding: 10px 32px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}
.buttonAccent svg {
    width: 24px;
    height: 24px;
}
.button {
    background-color: #f2f1ff;
    padding: 12px 32px;
    font-size: 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}
