
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

    
    height: 107px;
    overflow: hidden;
}
.buttonAccent {
    background-color: #221AB7;   
    width: min-content;
    padding: 10px 32px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}
.buttonAccent svg {
    width: 24px;
    height: 24px;
}
.button {
    background-color: #f2f1ff;
    padding: 12px 32px;
    font-size: 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

/* .button:hover {
    animation: springyEffect 1s cubic-bezier(.175,.885,.32,1.275) both
}



@keyframes springyEffect {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(1.1,.9)
    }

    50% {
        transform: scale(.95,1.05)
    }

    75% {
        transform: scale(1.05,.95)
    }

    to {
        transform: scale(1)
    }
} */
