.wrapper {
    padding-top: 30px;
    background-color: #fff;
}
@media (max-width: 1200px) {
    .wrapper {
        padding-top: 50px;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 24px;
    }
}



@media (max-width: 640px) {
    .wrapper {
        padding-top: 50px;
    }

    .inner {
        gap: 24px;
    }

    .inner > svg {
        width: 158px;
        height: auto;
    }


}