.wrapper {
  margin-top: 89px;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 77px;
  padding-bottom: 143px;
}
@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 60px;
    margin-top: 60px;
  }
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media (max-width: 1200px) {
  .inner {
    gap: 32px;
  }
}
.title {
  font-weight: 600;
}
@media (max-width: 1200px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 744px) {
  .title {
    font-size: 20px;
  }
}


