.filter {
  width: 500px;
  display: flex;
  gap: 12px;
}
@media (max-width: 1200px) {
  .filter {
    margin: 0 auto;
    width: auto;
  }
}
.button {
  border: 1px solid #221AB7;
  background: #fff;
  padding: 12px 32px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 20px;
}
@media (max-width: 744px) {
  .button {
    padding: 8px 16px;
    font-size: 16px;
  }
}
.active {
  background-color: #0E0A54;
  color: #fff;
  border: 1px solid transparent;
}