.checkbox {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}




.checkboxInput {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.checkboxVisual {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #221ab7;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 2s;
}
.checkboxVisual:hover {
    border-color: #0E0A54;
    background-color: #f2f1ff;
}


.checkboxVisualChecked {
    background-color: #221ab7;
    border-color: #221ab7;
    transition: background-color 0.2s;
}

.checkboxVisualChecked:hover {
    background-color: #0E0A54;
    border-color: #0E0A54;
}

.checkboxVisualChecked svg {
    color: #fff;
}



.checkboxInput:focus-visible + .checkboxVisual {
    outline: 2px solid #221ab7;
    outline-offset: 2px;
}