body {
  color: black;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.todo-list {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.todo-filter {
  width: 500px;
  margin: 0 auto;
}

.todo-list .checked {
  text-decoration: line-through;
}

.todo-label {
  margin-bottom: 10px;
}

.todo-input {
}